<script lang="ts" setup>
import { ref } from 'vue';
import type { Fruit } from '~/entity';

const fruits = ref<Fruit[]>([
  { image: 'https://media.istockphoto.com/id/1452520286/fr/vectoriel/vecteur-de-mangue-mangue-sur-fond-blanc-symbole-conception-du-logo-dessert-thaïlandais.jpg?s=612x612&w=0&k=20&c=j5pqS2s_MMewRonU24wf-Hwb8TFFEKJQmyMwmVllZ4Q=', prixHT: 19, nom: 'Mangue', quantite: 0 },
  { image: 'https://media.gettyimages.com/id/1296379574/fr/vectoriel/fruit-rouge-de-framboise-disolement-sur-le-blanc.jpg?s=612x612&w=gi&k=20&c=fj5Eo1wtLdDS550ya4VO1iMn-uHic2QvBJnA6TGccl8=', prixHT: 9, nom: 'Framboise', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-premium/regime-bananes-vecteur-illustration-dessin-anime_650087-313.jpg?w=2000', prixHT: 8, nom: 'Banane', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/pomme-rouge-isole-fond-blanc_1308-81536.jpg', prixHT: 19, nom: 'Pomme', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg', prixHT: 7, nom: 'Raisin', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-orange-colore-dessine-main_53876-2977.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699142400&semt=ais', prixHT: 64, nom: 'Orange', quantite: 0 }
]);

const panier = ref<Fruit[]>([]);

function increment(item: Fruit) {
  item.quantite++;
}

function decrement(item: Fruit) {
  if (item.quantite > 0) {
    item.quantite--;
  }
}

function ajouterAuPanier(item: Fruit) {
  if (item.quantite > 0) {
    const index = panier.value.findIndex(f => f.nom === item.nom);
    if (index !== -1) {
      panier.value[index].quantite += item.quantite;
    } else {
      panier.value.push({ ...item, quantite: item.quantite }); 
    }
    item.quantite = 0;
  }
}

function calculerPrixTTC(prixHT: number): number {
  const TVA = 0.20; 
  return prixHT * (1 + TVA);
}

function calculerPrixTotal(): number {
  return panier.value.reduce((total, item) => {
    return total + item.prixHT * item.quantite * 1.20; 
  }, 0);
}

function reduireQuantite(index: number) {
  if (panier.value[index].quantite > 0) {
    panier.value[index].quantite--;
  }
}

function supprimerProduit(index: number) {
  panier.value.splice(index, 1);
}
</script>


<template>
  <div style="display: flex;">
    <div style="display: flex; justify-content: center; flex-wrap: wrap; width: 50%;">
      <div v-for="item in fruits" :key="item.nom" class="card" style="width: 15rem; margin: 10px;">
        <img :src="item.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prix: {{ item.prixHT }} €</h5>
          <h5 class="card-title">{{ item.nom }}</h5>
          <h5 class="card-title">Quantité: {{ item.quantite }}</h5>
          <button type="button" class="btn btn-primary" @click="increment(item)">+</button>
          <button type="button" class="btn btn-danger" @click="decrement(item)">-</button> <br>
          <button type="button" class="btn btn-success" style="margin: 10px; padding: 10px; width: 100%;" @click="ajouterAuPanier(item)">Ajouter au panier</button>
        </div>
      </div>
    </div>
    <div style="width: 50%;">
      <h1 class="text-center">Panier</h1>
      <table>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix HT</th>
          <th>Prix TTC</th>
          <th>Actions</th> 
        </tr>
        <tr v-for="(item, index) in panier" :key="item.nom">
          <td>{{ index + 1 }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.prixHT }} €</td>
          <td>{{ calculerPrixTTC(item.prixHT).toFixed(2) }} €</td>
          <td>
           
            <button type="button" class="btn btn-danger" @click="supprimerProduit(index)">Supprimer</button>
          </td>
        </tr>
      </table>
      <h3>Total: {{ calculerPrixTotal().toFixed(2) }} €</h3>
    </div>
  </div>
</template>

<style scoped>
 th {
  border: 2px solid aquamarine;
  margin: 10px;
  width: 500px;
}

table {
  border-collapse: collapse;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>